/******************** MIXIN **********************/
/******************** FONT **********************/
@font-face {
  font-family: "Montserrat";
  src: url(../assets/font/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat italic";
  src: url(../assets/font/Montserrat/Montserrat-Italic-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "DePixel";
  src: url(../assets/font/depixel/DePixelBreit.ttf) format("truetype");
}

/******************** VARIABLE **********************/
:root {
  --back-color: #111010;
  --font-color: #f1f1f1f1;
  --pixel-color: #26d241;
  --main-font: "Montserrat";
  --italic-font: "Montserrat italic";
  --pixel-font: "DePixel";
}

/******************** GLOBAL CSS **********************/
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

*:not(ul) {
  margin: 0;
  padding: 0;
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--back-color);
  color: var(--font-color);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

article {
  width: 70vw;
}

::-webkit-scrollbar {
  width: 15px;
  /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
  /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #c6c6c6;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 4px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f1f1f190;
}

h1,
h2 {
  text-transform: uppercase;
  text-align: center;
}

h2 {
  margin-block: 2rem;
  font-size: 2rem;
}

h3 {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

li {
  line-height: 1.6;
}

span {
  font-family: var(--italic-font), Arial, Helvetica, sans-serif;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.display-none {
  display: none !important;
}

/******************** SPINNER **********************/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/******************** TOAST **********************/
.toast {
  -webkit-box-shadow: 5px 5px 5px #ffffff6d;
          box-shadow: 5px 5px 5px #ffffff6d;
  background-color: #ffffff;
  width: 90%;
  border-radius: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 10;
  margin: 1rem;
  padding: 0.5rem;
}

.toast-icon {
  width: 5rem;
  margin-right: 1rem;
}

.toast-message {
  color: var(--back-color);
  font-style: normal;
  font-size: 1.3rem;
}

.toast-close {
  opacity: 0.8;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  height: 28px;
  width: 28px;
  margin: 0.5rem;
}

.toast-on {
  -webkit-animation: toastOn 700ms ease-in-out forwards;
          animation: toastOn 700ms ease-in-out forwards;
}

@-webkit-keyframes toastOn {
  from {
    right: -100%;
  }
  to {
    right: 0rem;
  }
}

@keyframes toastOn {
  from {
    right: -100%;
  }
  to {
    right: 0rem;
  }
}

.toast-off {
  -webkit-animation: toastOff 700ms ease-in-out forwards;
          animation: toastOff 700ms ease-in-out forwards;
}

@-webkit-keyframes toastOff {
  from {
    right: 0rem;
  }
  to {
    right: -100%;
  }
}

@keyframes toastOff {
  from {
    right: 0rem;
  }
  to {
    right: -100%;
  }
}

/******************** SPLASH **********************/
.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--back-color);
  z-index: 5;
  color: var(--font-color);
  text-align: center;
}

.splash.display-none {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--back-color);
  z-index: -2;
  color: var(--font-color);
  text-align: center;
  opacity: 0;
  line-height: 100vh;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn 1s ease-in forwards;
          animation: fadeIn 1s ease-in forwards;
}

.progress-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.progress {
  background: transparent;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border: solid var(--pixel-color) 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
}

.progress-value {
  -webkit-animation: load 5s ease-in-out forwards;
          animation: load 5s ease-in-out forwards;
  -webkit-box-shadow: 0 10px 40px -10px #ffffff;
          box-shadow: 0 10px 40px -10px #ffffff;
  background: var(--pixel-color);
  height: 30px;
  width: 0;
}

.progress-container.display-none {
  display: none;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.typewriter {
  margin-top: 2rem;
}

.load-word {
  font-family: var(--pixel-font), Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: var(--pixel-color);
  overflow: hidden;
  border-right: 0.15em solid var(--pixel-color);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  -webkit-animation: typing 4s steps(15, end), blink-caret 0.75s step-end infinite;
          animation: typing 4s steps(15, end), blink-caret 0.75s step-end infinite;
}

@-webkit-keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--pixel-color);
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--pixel-color);
  }
}

@-webkit-keyframes load {
  0% {
    width: 0;
  }
  20% {
    width: 20%;
  }
  40% {
    width: 30%;
  }
  50% {
    width: 32%;
  }
  60% {
    width: 34%;
  }
  70% {
    width: 36%;
  }
  80% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

@keyframes load {
  0% {
    width: 0;
  }
  20% {
    width: 20%;
  }
  40% {
    width: 30%;
  }
  50% {
    width: 32%;
  }
  60% {
    width: 34%;
  }
  70% {
    width: 36%;
  }
  80% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

/******************** UP BUTTON **********************/
.up-page {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

/******************** BACKGROUND SITE **********************/
#particles-js {
  z-index: -1;
  position: fixed;
  top: 0;
  opacity: 0.3;
  width: 100vw;
  height: 100vh;
}

/******************** HEADER **********************/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-block: 2rem;
}

.navbar-container {
  position: fixed;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--back-color);
  height: 5rem;
  width: 100%;
}

.burger-container {
  display: none;
}

.nav-link {
  padding: 1rem;
  cursor: pointer;
  border-radius: 1rem;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.nav-link:hover {
  background-color: #f1f1f1f1;
  color: var(--back-color);
}

/*********** TITLE & START ANIMATION *************/
.text-intro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 5rem;
  margin: 5rem 0.5rem 5rem 0.5rem;
}

.text-intro {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  letter-spacing: 4px;
}

.intro-left {
  -webkit-animation: slideInLeft 12.5s;
          animation: slideInLeft 12.5s;
}

.intro-right {
  -webkit-animation: slideInRight 12.5s;
          animation: slideInRight 12.5s;
}

@-webkit-keyframes slideInLeft {
  from {
    margin-left: 200%;
    opacity: 0;
  }
  80% {
    margin-left: 200%;
    opacity: 1;
  }
  to {
    margin-left: 0;
  }
}

@keyframes slideInLeft {
  from {
    margin-left: 200%;
    opacity: 0;
  }
  80% {
    margin-left: 200%;
    opacity: 1;
  }
  to {
    margin-left: 0;
  }
}

@-webkit-keyframes slideInRight {
  from {
    margin-right: 200%;
    opacity: 0;
  }
  80% {
    margin-right: 200%;
    opacity: 1;
  }
  to {
    margin-right: 0;
  }
}

@keyframes slideInRight {
  from {
    margin-right: 200%;
    opacity: 0;
  }
  80% {
    margin-right: 200%;
    opacity: 1;
  }
  to {
    margin-right: 0;
  }
}

.photo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
}

.myself-photo {
  border-radius: 50%;
  width: 30rem;
  -webkit-animation: slideDown 12.5s;
          animation: slideDown 12.5s;
}

@-webkit-keyframes slideDown {
  from {
    margin-top: 100%;
    opacity: 0;
  }
  80% {
    opacity: 1;
    margin-top: 100%;
  }
  to {
    margin-top: 0;
  }
}

@keyframes slideDown {
  from {
    margin-top: 100%;
    opacity: 0;
  }
  80% {
    opacity: 1;
    margin-top: 100%;
  }
  to {
    margin-top: 0;
  }
}

.exp,
.school-part,
.projects,
.skills {
  -webkit-animation: showContent 13.5s;
          animation: showContent 13.5s;
}

@-webkit-keyframes showContent {
  from {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showContent {
  from {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.intro-text {
  font-size: 2rem;
  width: 80%;
}

.intro-text p {
  text-align: justify;
}

/************** TITLE SECTION **************/
.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.line-div {
  border: solid #f1f1f1 2px;
  width: 10rem;
  border-radius: 1rem;
}

/*************** PROJECT PART *****************/
.project-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: var(--back-color);
  background-color: #f1f1f1c4;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  margin-inline: 1rem;
}

.gif-container img {
  width: 25rem;
  height: 10rem;
}

.project-body {
  padding: 2rem;
}

.project-text p {
  margin-bottom: 1rem;
}

.project-text ul li {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.hastag-tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
}

.next-js {
  color: var(--font-color);
  margin-inline: 0.5rem;
  padding: 0.5rem;
  border-radius: 2rem;
  -webkit-box-shadow: #00000073 3px 3px 10px;
          box-shadow: #00000073 3px 3px 10px;
  margin-bottom: 1rem;
  background-color: #010101b1;
}

.sass {
  color: var(--font-color);
  margin-inline: 0.5rem;
  padding: 0.5rem;
  border-radius: 2rem;
  -webkit-box-shadow: #00000073 3px 3px 10px;
          box-shadow: #00000073 3px 3px 10px;
  margin-bottom: 1rem;
  background-color: #bc8f8f;
}

.node-js {
  color: var(--font-color);
  margin-inline: 0.5rem;
  padding: 0.5rem;
  border-radius: 2rem;
  -webkit-box-shadow: #00000073 3px 3px 10px;
          box-shadow: #00000073 3px 3px 10px;
  margin-bottom: 1rem;
  background-color: #3e853d;
}

.postgres {
  color: var(--font-color);
  margin-inline: 0.5rem;
  padding: 0.5rem;
  border-radius: 2rem;
  -webkit-box-shadow: #00000073 3px 3px 10px;
          box-shadow: #00000073 3px 3px 10px;
  margin-bottom: 1rem;
  background-color: #336791;
}

.vue-js {
  color: var(--font-color);
  margin-inline: 0.5rem;
  padding: 0.5rem;
  border-radius: 2rem;
  -webkit-box-shadow: #00000073 3px 3px 10px;
          box-shadow: #00000073 3px 3px 10px;
  margin-bottom: 1rem;
  background-color: #41b781;
}

.fetch {
  color: var(--font-color);
  margin-inline: 0.5rem;
  padding: 0.5rem;
  border-radius: 2rem;
  -webkit-box-shadow: #00000073 3px 3px 10px;
          box-shadow: #00000073 3px 3px 10px;
  margin-bottom: 1rem;
  background-color: #ae3b2c;
}

.react {
  color: var(--font-color);
  margin-inline: 0.5rem;
  padding: 0.5rem;
  border-radius: 2rem;
  -webkit-box-shadow: #00000073 3px 3px 10px;
          box-shadow: #00000073 3px 3px 10px;
  margin-bottom: 1rem;
  background-color: #45a5c0;
}

.css {
  color: var(--font-color);
  margin-inline: 0.5rem;
  padding: 0.5rem;
  border-radius: 2rem;
  -webkit-box-shadow: #00000073 3px 3px 10px;
          box-shadow: #00000073 3px 3px 10px;
  margin-bottom: 1rem;
  background-color: #176bc0;
}

.mongo {
  color: var(--font-color);
  margin-inline: 0.5rem;
  padding: 0.5rem;
  border-radius: 2rem;
  -webkit-box-shadow: #00000073 3px 3px 10px;
          box-shadow: #00000073 3px 3px 10px;
  margin-bottom: 1rem;
  background-color: #4dad4f;
}

.project-source {
  margin-block: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.project-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  color: var(--font-color);
  background-color: var(--back-color);
  border-radius: 0.5rem;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.project-button img {
  -webkit-transition: 300ms;
  transition: 300ms;
  margin-right: 0.5rem;
}

.project-button:hover {
  background-color: var(--font-color);
  color: var(--back-color);
}

.project-button:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.disabled-button {
  opacity: 0.5;
  cursor: pointer;
}

.disabled-button:hover {
  background-color: var(--back-color);
  color: var(--font-color);
}

.disabled-button:hover img {
  -webkit-filter: none;
          filter: none;
}

/*************** SKILLS PART *****************/
.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-block: 3rem;
  margin-block: 3rem;
}

.skills-group-last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-block: 3rem;
}

.skills-icon-cotainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill-icon {
  width: 6rem;
  margin-bottom: 1rem;
}

.github {
  -webkit-filter: invert(1);
          filter: invert(1);
}

/*************** EXPERIENCES PART *****************/
.exp,
.school-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.exp-header {
  margin-bottom: 1rem;
}

.exp-part {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.exp-part::before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 5px;
  background: #696969;
  left: 50%;
  margin-left: -2.5px;
  border-radius: 1rem;
}

.exp-ul li {
  margin-bottom: 0.8rem;
}

.exp-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
  padding: 0.5rem;
  margin-inline: 2rem;
  background-color: #e8e6e6;
  border-radius: 50%;
}

.icon-right {
  display: none;
}

.exp-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-block: 3rem;
  width: 100%;
  margin-right: 6.4rem;
}

.exp-left::after {
  position: relative;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 6.4rem;
  border-color: transparent #ffffff;
  border-style: solid;
  border-width: 14px 0 14px 14px;
  content: "";
}

.exp-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-block: 3rem;
  width: 100%;
  margin-left: 6.4rem;
}

.exp-right::before {
  position: relative;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: -6.4rem;
  border-color: transparent #ffffff;
  border-style: solid;
  border-width: 14px 14px 14px 0;
  content: "";
}

.exp-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  border: #f1f1f1f1 solid 3px;
  background-color: var(--back-color);
  padding: 1rem;
}

.cv-loader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-block: 2rem;
}

.cv-button {
  background-color: var(--back-color);
  padding: 2rem;
  border: solid #f1f1f1 2px;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: var(--font-color);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.cv-button:hover {
  background-color: #f1f1f1;
  color: var(--back-color);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/************* CONTACT PART ************/
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  border: solid 2px #f1f1f1a5;
  background-color: var(--back-color);
  width: 60%;
}

.form form input,
.form form textarea {
  width: 100%;
  padding: 0.8rem;
  margin-block: 1rem;
}

.form form textarea {
  resize: vertical;
}

.submit-button {
  cursor: pointer;
}

/************* FOOTER ************/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--back-color);
  height: 7rem;
}

.icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  margin-inline: 0.5rem;
  width: 1.2rem;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.icon:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

/**************** QUERIES ****************/
@media screen and (max-width: 1222px) {
  article {
    width: 100vw;
  }
  html {
    width: 100%;
  }
  .exp-left,
  .exp-right {
    width: 80%;
  }
  .skills-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skills-group {
    width: 80%;
  }
  .skills-group-last {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  .text-intro-container {
    margin-inline: 2rem;
  }
  .intro-text {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .form form {
    width: 90%;
  }
  .up-page {
    display: none;
  }
  .exp-part {
    margin-left: 1rem;
  }
  .exp-part::after {
    z-index: -1;
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background: #696969;
    border-radius: 1rem;
    right: 3.9rem;
  }
  .exp-part::before {
    content: none;
  }
  .exp-left {
    position: relative;
    margin-right: 0;
    width: 100%;
  }
  .exp-container {
    width: 100%;
  }
  .icon-left {
    display: none;
  }
  .icon-right {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    z-index: 5;
  }
  .parent {
    z-index: 5;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    flex-direction: column;
    background-color: var(--back-color);
    width: 100vw;
    height: 103vh;
    top: 0;
    right: 0;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .parent li {
    margin-bottom: 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.5rem;
  }
  .closeNav {
    top: 0;
    right: 50rem;
  }
  .burger-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
  }
  .burger {
    z-index: 6;
    border: none;
    display: block;
    background-color: transparent;
  }
  .burger:hover {
    cursor: pointer;
  }
  .bar,
  .bar::before,
  .bar::after {
    z-index: 5;
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .bar::before,
  .bar::after {
    content: "";
    position: absolute;
    left: 0;
  }
  .bar::before {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  .bar::after {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  .closeMenu {
    background-color: transparent;
    border: none;
  }
  .closeMenu .bar {
    background-color: transparent;
  }
  .closeMenu .bar::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .closeMenu .bar::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@media screen and (max-width: 611px) {
  .myself-photo {
    width: 20rem;
    margin-top: 2rem;
  }
  .title {
    display: none;
  }
  .icon-container {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .icon {
    width: 1.5rem;
  }
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-container {
    margin-inline: 0;
  }
  .project-part {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 528px) {
  .myself-photo {
    width: 15rem;
  }
  .text-intro {
    font-size: 2rem;
  }
}

@media screen and (max-width: 440px) {
  .skills-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-block: 0;
  }
  .skills-group-last {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-block: 0;
  }
  .skills-icon-cotainer {
    margin-bottom: 3rem;
  }
  .exp-ul {
    padding: 0.5rem;
  }
  .exp-ul li {
    margin-bottom: 0.8rem;
  }
  .progress {
    right: 10rem;
    width: 300px;
  }
  .typewriter {
    position: relative;
    right: 10rem;
  }
  .load-word {
    font-size: 2rem;
  }
  .intro-text p {
    text-align: center;
  }
}

@media screen and (max-width: 355px) {
  .exp-part::after {
    z-index: -1;
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background: #696969;
    border-radius: 1rem;
    right: 2.8rem;
  }
  .exp-left {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 375px) {
  h2 {
    font-size: 1.5rem;
  }
  .text-intro {
    font-size: 1.5rem;
  }
  .project-container {
    width: 22rem;
  }
  .gif-container img {
    width: 22rem;
  }
}

@media screen and (max-width: 952px) {
  .text-intro-container {
    margin-top: 5rem;
  }
}
/*# sourceMappingURL=styles.css.map */